$analysis-img-height: 20vh;
$analysis-img-width: 30%;

.site-result {
    width: 100%;
    height: 30vh;
    margin-bottom: 2vh;
}

.left-result {
    width: 69%;
    height: auto;
    float: right;
}

.analysis-img {
    width: $analysis-img-width;
    height: auto;
    float: left;
    margin-right: 1%;
    object-fit: cover;
}

.site-result p,
.site-result h4 {
    font-size: 1.7vh;
    line-height: 2vh;
    margin-bottom: 0.2vh;
}

:not(.site-result) p,
:not(.site-result) h2 {
    clear: both;
}

.load-table {
    margin-bottom: 1vh;
}

ul {
    margin-bottom: 1vh;
}

@media screen and (max-width: 1000px) {
    .site-result {
        width: 100%;
        height: auto;
    }
    
    .analysis-img {
        width: 100%;
        margin-right: 0;
        object-fit: cover;
    }

    .left-result {
        width: 100%;
        height: auto;
    }
}
