.gallery {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    padding: 1em;
}

.gallery div {
    width: 100%;
    overflow: hidden;
}

.gallery div picture * {
    width: 100%;
}

@media (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
