@import 'common';
// @import 'style';
@import 'variables-dark';
@import 'typography';

@import 'header';
@import 'footer';

@import 'report';
@import 'kmom';
@import 'analysis';
@import 'gallery';


// @import 'old';


/*

font-family: 'Arimo', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/


/* --------------
-----GENERAL-----
-------------- */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    background-color: $body-background;
}


main {
    width: 80%;
    min-height: 57vh;
    padding-top: 2vh;
    margin: 0 auto;
    color: $main-color;
}

main a {
    color: $main-color;
}

main a:hover {
    color: $accent;
}

main h1 {
    width: 100%;
    padding-left: 2vh;
    margin: 2vh;
}

.frontimage {
    width: 13%;
    margin-right: 1vh;
    object-fit: cover;
    float: left;
}

img:not([alt]) {
    outline: 4px dashed #f00;
}

@media screen and (max-width: 1000px) {
    main {
        width: 80%;
        min-height: 52vh;
        padding-top: 2vh;
        margin: 0 auto;
    }
}
