@import 'common';
@import 'style';
@import 'variables-dark';
@import 'typography';

@import 'header';
@import 'footer';

body {
    background-color: $body-background;
}


main {
    color: $main-color;
}

main a {
    color: $main-color;
}

main a:hover {
    color: $accent;
}
