* {
    font-family: 'Arimo', sans-serif;
}

h1 {
    height: auto;
    line-height: 5vh;
    font-size: 4vh;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    height: 4vh;
    line-height: 4vh;
    font-size: 3vh;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    height: 3vh;
    line-height: 3vh;
    font-size: 2vh;
    font-family: 'Ubuntu', sans-serif;
}

h4,
p {
    font-size: 2vh;
    line-height: 2.2vh;
    margin-bottom: 2vh;
}

h4 {
    font-weight: 600;
}
