$body-background: #343434;

$header-color: rgb(39, 39, 39);
$nav-hover: #d86157;

$main-color: #eee;

$footer-color: rgb(24, 24, 24);
$social: #fff;
$social-hover: #d86157;


$report-header: #d86157;
$kmom-box-color: #505050;
$kmom-box-text: #fff;

$sidebar-selected-color: #d86157;
