$body-background: #fff;

$header-color: #008080;
$nav-hover: #fff;

$main-color: #000;
$accent: #008080;

$footer-color: #758080;
$social: #fff;
$social-hover: #000;


$report-header: #ff5906;
$kmom-box-color: #fff;
$kmom-box-text: #000;

$sidebar-selected-color: #ff5906;
